<!-- Inherit base template -->
{% extends "__base.html" %}

<!-- Load all static content -->
{% load static %}

<!-- Import specific stylesheets (If any) -->
{% block stlyesheets %}
<link rel="stylesheet" href="{% static '/css/home.css' %}" />
<link rel="stylesheet" href="{% static '/css/media.css' %}" />
<link rel="stylesheet" href="{% static '/css/hashnode-blog.css' %}" />
{% endblock %} {% block customcontent %}

<!-- Render navbar -->
{% include 'partials/darknavbar.html' %}

<div class="p-4">
    <form action="/your-name/" class="signup" method="post" id="register_organisation">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>

<!-- Render footer -->
{% include 'partials/footer.html' %} {% endblock %} {% block scripts %}
<script src="{% static '/js/getblogs.js' %}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"
    integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}