<div class="container-fluid loginfooterbg">
    <div class="row px-5 py-3">
        <div class="col-lg-6 col-md-6 col-12 ps-lg-5 ps-md-3 ps-2 pt-2 copyrightlogin">
            © 2021 Copyright: CreatAR
        </div>
        <div class="col-lg-6 col-md-6 col-12 text-end pe-5 pt-2 pt-lg-0 pt-md-0">
            <a href="" class="ps-2 text-decoration-none "><img src="/img/loginlink.svg" class="hovereffectlogos" alt=""></a>
            <a href="" class="ps-2 text-decoration-none"><img src="/img/loginfb.svg" class="hovereffectlogos" alt=""></a>
            <a href="" class="ps-2 text-decoration-none"><img src="/img/logininsta.svg" class="hovereffectlogos" alt=""></a>
            <a href="" class="ps-2 text-decoration-none"><img src="/img/loginyt.svg" class="hovereffectlogos" alt=""></a>
            <a href="" class="ps-2 text-decoration-none"><img src="/img/logintwitter.svg" class="hovereffectlogos" alt=""></a>
        </div>
    </div>
</div>