@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .emailbg {
    background: url("/static/img/404img1.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
  }
  .emailbgs {
    background: url("/static/img/404img1.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
  }
  .formhead {
    font-weight: 700;
    font-size: 40px;
    color: var(--white);
  }

  .aboutdescrip {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2e3555;
  }
  .benefiticon {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -50px;
    left: 35%;
    border: 7px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .arbenefithead {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #2e3555;
  }

  .arbenefitsub {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #2e3555;
  }
  .joinanimation {
    display: none;
  }
  .meethead {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  .meetsub {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  .jdlogo {
    position: absolute;
    top: -40px;
    left: 1rem;
  }
  .jdlogo img {
    width: 100%;
  }

  .jdsub {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
  }

  .jdhead {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;

    color: #ffffff;
  }

  .herohead {
    font-weight: 900;
    font-size: 42px;
    line-height: 55px;
    color: #ffffff;
  }

  .aboutcreatAR {
    font-weight: 800;
    font-size: 30px;
    line-height: 60px;
    color: #2e3555;
  }

  .joincomhead {
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    color: var(--light);
  }
  .joinanimation {
    display: none;
  }

  .v-effect-link li {
    display: inline-table;
    width: 48%;
  }

  .v-effect-link {
    list-style: none;
    counter-reset: steps;
  }

  .v-effect-link li {
    counter-increment: steps;
  }

  .v-effect-link li::before {
    content: "0" counter(steps) "-";
    height: 1.2em;
    display: inline-grid;
    place-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    color: #fa9f71;
  }

  .stepshead {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* or 125% */

    color: #ffffff;
    border-left: 10px solid #fa9f71;
  }

  .stepsheadbrand {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* or 125% */

    color: #ffffff;
    border-right: 10px solid #ffdc5f;
  }

  .benefitsARsub {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #2e3555;
    border-left: 10px solid #fa9f71;
  }

  .benefitsBrandsub {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 150% */

    color: #2e3555;
    border-left: 10px solid #ffdc5f;
  }

  .brandlink li {
    display: inline-table;
    width: 48%;
  }

  .brandlink {
    list-style: none;
    counter-reset: steps;
  }

  .brandlink li {
    counter-increment: steps;
  }

  .brandlink li::before {
    content: "0" counter(steps) "-";
    height: 1.2em;
    display: inline-table;
    place-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    color: #ffdc5f;
  }

  .contactbg {
    background: url("/static/img/contactbg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
  }

  .mixbgactive {
    background: url("/static/img/mixbgactive.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .stephead {
    font-weight: 500;
    font-size: 18px;

    color: #ffffff;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .emailbg {
    background: url("/static/img/404img1.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
  }
  .emailbgs {
    background: url("/static/img/404img1.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
  }
  .formhead {
    font-weight: 800;
    font-size: 40px;
    color: var(--white);
  }

  .benefiticon {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -50px;
    left: 38%;
    border: 7px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 46px;
    cursor: pointer;
    top: 100px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-carousel .prev-slide {
    background: url("/static/img/leftarrow.png") no-repeat scroll 0 0;
    left: -33px;
  }
  .owl-carousel .next-slide {
    background: url("/static/img/rightarrow.png") no-repeat scroll 0px 0px;
    right: -33px;
  }

  .custome_slide .owl-dots,
  .custome_slide .owl-nav.disabled {
    display: block;
  }
  .stephead {
    font-weight: 700;
    font-size: 20px;

    color: #ffffff;
  }
  .aboutdescrip {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2e3555;
  }

  .arbenefithead {
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    color: #2e3555;
  }

  .arbenefitsub {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #2e3555;
  }
  .joinanimation {
    display: none;
  }
  .meethead {
    font-weight: 900;
    font-size: 50px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  .meetsub {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  .jdlogo {
    position: absolute;
    top: -90px;
    left: 2.5rem;
  }

  .jdsub {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;

    color: #ffffff;
  }

  .jdhead {
    font-weight: 900;
    font-size: 40px;
    line-height: 30px;

    color: #ffffff;
  }

  .herohead {
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: #ffffff;
  }

  .aboutcreatAR {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;

    color: #2e3555;
  }
  .joincomhead {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--light);
  }
  .joinanimation {
    display: block;
  }

  .v-effect-link li {
    display: inline-table;
    width: 49%;
  }

  .v-effect-link {
    list-style: none;
    counter-reset: steps;
  }

  .v-effect-link li {
    counter-increment: steps;
  }

  .v-effect-link li::before {
    content: "0" counter(steps) "-";
    height: 1.2em;
    display: inline-grid;
    place-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    color: #fa9f71;
  }

  .stepshead {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */

    color: #ffffff;
    border-left: 10px solid #fa9f71;
  }

  .stepsheadbrand {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */

    color: #ffffff;
    border-right: 10px solid #ffdc5f;
  }

  .benefitsARsub {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height, or 150% */

    color: #2e3555;
    border-left: 10px solid #fa9f71;
  }

  .benefitsBrandsub {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height, or 150% */

    color: #2e3555;
    border-left: 10px solid #ffdc5f;
  }

  .brandlink li {
    display: inline-table;
    width: 49%;
  }

  .brandlink {
    list-style: none;
    counter-reset: steps;
  }

  .brandlink li {
    counter-increment: steps;
  }

  .brandlink li::before {
    content: "0" counter(steps) "-";
    height: 1.2em;
    display: inline-grid;
    place-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    color: #ffdc5f;
  }

  .contactbg {
    background: url("/static/img/contactbg.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

  .mixbgactive {
    background: url("/static/img/mixbgactive.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media only screen and (min-width: 1025px) {
  .emailbg {
    background: url("/static/img/404img.png");
    background-position: center right;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
  }
  .emailbgs {
    background: url("/static/img/404img1.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
  }
  .formhead {
    font-weight: 800;
    font-size: 50px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: var(--white);
  }

  .benefiticon {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -50px;
    left: 33%;
    border: 7px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 46px;
    cursor: pointer;
    top: 100px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-carousel .prev-slide {
    background: url("/static/img/leftarrow.png") no-repeat scroll 0 0;
    left: -33px;
  }
  .owl-carousel .next-slide {
    background: url("/static/img/rightarrow.png") no-repeat scroll 0px 0px;
    right: -33px;
  }

  .custome_slide .owl-dots,
  .custome_slide .owl-nav.disabled {
    display: block;
  }

  .stephead {
    font-weight: 700;
    font-size: 20px;

    color: #ffffff;
  }
  .aboutdescrip {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2e3555;
  }
  .arbenefithead {
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    color: #2e3555;
  }

  .arbenefitsub {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #2e3555;
  }
  .joinanimation {
    display: block;
  }
  .meethead {
    font-weight: 900;
    font-size: 50px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  .meetsub {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  .jdlogo {
    position: absolute;
    top: -90px;
    left: 5.5rem;
  }

  .jdsub {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;

    color: #ffffff;
  }

  .jdhead {
    font-weight: 900;
    font-size: 50px;
    line-height: 30px;

    color: #ffffff;
  }

  .herohead {
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: #ffffff;
  }

  .aboutcreatAR {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;

    color: #2e3555;
  }
  .joincomhead {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--light);
  }
  .joinanimation {
    display: block;
  }

  .v-effect-link li {
    display: inline-table;
    width: 24%;
  }

  .v-effect-link {
    list-style: none;
    counter-reset: steps;
  }

  .v-effect-link li {
    counter-increment: steps;
  }

  .v-effect-link li::before {
    content: "0" counter(steps) "-";
    height: 1.2em;
    display: inline-grid;
    place-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    color: #fa9f71;
  }

  .stepshead {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */

    color: #ffffff;
    border-left: 10px solid #fa9f71;
  }

  .stepsheadbrand {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */

    color: #ffffff;
    border-right: 10px solid #ffdc5f;
  }

  .benefitsARsub {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height, or 150% */

    color: #2e3555;
    border-left: 10px solid #fa9f71;
  }

  .benefitsBrandsub {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height, or 150% */

    color: #2e3555;
    border-left: 10px solid #ffdc5f;
  }

  .brandlink li {
    display: inline-table;
    width: 24%;
  }

  .brandlink {
    list-style: none;
    counter-reset: steps;
  }

  .brandlink li {
    counter-increment: steps;
  }

  .brandlink li::before {
    content: "0" counter(steps) "-";
    height: 1.2em;
    display: inline-grid;
    place-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    color: #ffdc5f;
  }

  .contactbg {
    background: url("/static/img/contactbg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
  }

  .mixbgactive {
    background: url("/static/img/mixbgactive.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
  }
}
